*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#pageBox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.page{
background-color: gray;
padding: 0.5rem 1rem;
text-decoration: none;
margin: 0.5rem;
color: white;
}
.active{
    background-color: blue;
}
.disble{
    cursor: not-allowed;
    opacity: 0.6;
}